EXPO_PUBLIC_SUPABASE_URL=https://kgbvmigzlefonzyqlegm.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtnYnZtaWd6bGVmb256eXFsZWdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxNDYyMDMsImV4cCI6MjA5NzcyMjIwM30.NNvX12Wrvu0hqwO_bcy9B1EXyZvqFKV1ekTQILdjbO0
